<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625478385453-ru47i7jvki5j32f8i3737q1oh3dlcchn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625478385453-ru47i7jvki5j32f8i3737q1oh3dlcchn</string>
	<key>API_KEY</key>
	<string>AIzaSyAO5piV5svFZwwXC_e4hbwFkMcba9I3R7I</string>
	<key>GCM_SENDER_ID</key>
	<string>625478385453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kittikawins.Hadith</string>
	<key>PROJECT_ID</key>
	<string>hadith-69050</string>
	<key>STORAGE_BUCKET</key>
	<string>hadith-69050.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625478385453:ios:c38ba1a5cd316a53c7dda4</string>
	<key>DATABASE_URL</key>
	<string>https://hadith-69050.firebaseio.com</string>
</dict>
</plist>